@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #222;
}

/*
.navbar {
    padding: .8rem;
}
*/
.navbar-nav li {
    padding-right: 20px;
}

.nav-link {
    font-size: 1.1em !important;
}

.test {
    background-image: url("./img/img_01.jpg");
    background-color: black;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.headliner {
    position: relative;
    text-align: center;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*
.logo {
    width: 15%;
    height: 15%;
}
*/

/* .test {
    background-color: aqua;
} */